section.work{
    background-color: white;
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all .7s ease-out;
}
.work.active{
    top: 0;
}

.work .content{
    position: relative;
}

.work .wp{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
}
.work .wp .preWord,
.work .wp .filters{
    display: flex;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
}
.work .wp .preWord > div p{
    margin-bottom: 1rem;
}
.work .wp .preWord > div{
    margin-top: 6.25rem;
}

.work .filters .link{
    position: relative;
    bottom: 0;
    left: 0;
}
.work .filters > div{
    margin: 1rem 0 0;
}
.work .filters span.active{
    transform: translate3d(0, -200%, 0);
}
.work .filters p{
    font-size: 0.5625rem;
}
.work .filters p span,
.work .filters p span::before{
    font-size: 0.75rem;
}

.work .ref{
    font-size: 1.125rem;
    text-decoration: underline;
    transition: color .3s ease-in-out;
    color: #353535;
}
.work .ref:hover{
    color: #979797;
}

.work .works{
    background-color: white;
    position: relative;
    margin-top: 1.5625rem;
    padding: 0 15px;
    display: grid;
    column-gap: 30px;
}
.work .works a{
    margin-top: 1.25rem;
    position: relative;
    transition: transform .3s ease-in-out;
    z-index: 1000;
}
.work .works a img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    aspect-ratio: 1.0;
}
.work .works a .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -1.25rem;
    left: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
    background-image: linear-gradient(-180deg,rgba(255,255,255,0) 0%,#FFFFFF 100%);
}
.work .works a:hover{
    transform: translate3d(0, -0.75rem, 0);
}
.work .works a:hover .overlay{
    opacity: 1;
    bottom: 0;
}
.work .works a .overlay .text{
    position: absolute;
    bottom: 1.875rem;
    left: 1.875rem;
}
.work .works a .overlay .text p{
    font-size: 1.125rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #353535;
}
.work .works a .overlay .text span{
    color: #979797;
    font-size: .75rem;
}

.work .contact{
    display: flex;
    justify-content: center;
    margin-top: 2.8125rem;
}
.work .contact > div{
    margin-bottom: 5.625rem;
    padding: 0 15px;
}
.work .contact > div p{
    margin-bottom: 1rem;
}
.work .contact > div p a{
    padding: 0 0 0.2rem 0;
    color: #353535;
    text-decoration: underline;
    font-size: 1.125rem;
    font-style: normal;
    line-height: 1.45;
}
.work .contact > div p a:hover{
    color: #979797;
}

.work .upTrigger{
    margin-left: -22px;
}

@media (min-width: 576px){
    .work .wp{
        width: 540px;
    }
    .work .wp .preWord > div,
    .work .wp .filters > div,
    .work .contact > div{
        width: 83%;
    }
}

@media (min-width: 768px){
    .work .wp{
        width: 720px;
    }
    .work .wp .preWord > div{
        margin-top: 7.5rem;
    }
    .work .wp .preWord > div,
    .work .contact > div,
    .work .wp .filters > div{
        width: 66%;
    }

    .work .works{
        margin-top: 2.1875rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .work .works a{
        margin-top: 1.875rem;
    }

    .work .contact{
        margin-top: 4.0625rem;
    }
}

@media (min-width: 992px){
    .work .wp{
        width: 960px;
    }
    .work .wp .preWord > div{
        margin-top: 9.375rem;
    }
    .work .wp .preWord > div,
    .work .contact > div,
    .work .wp .filters > div{
        width: 50%;
    }

    .work .works{
        margin-top: 3.125rem;
    }
    .work .works a{
        margin-top: 2.5rem;
    }

    .work .contact{
        margin-top: 5.625rem;
    }
    .work .contact > div{
        margin-bottom: 6.5rem;
    }
}

@media (min-width: 1200px){
    .work .wp{
        width: 1140px;
        max-width: 100%;
    }
}