.link{
    position: absolute;
    bottom: 1.875rem;
    left: 1.25rem;
}
.link p{
    color: #979797;
}
.link p a span{
    position: relative;
    display: inline-block;
    transition: transform 0.4s cubic-bezier(0.85, 0.135, 0.15, 0.5);
}
.link p a span::before{
    position: absolute;
    top: 200%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
    font-size: 0.875rem;
    color: #353535;
}
.link p a span:hover,
.link p a:active span{
    transform: translate3d(0, -200%, 0);
}

.myName{
    position: absolute;
    top: 2.5rem;
    right: 1.25rem;
}
.myName p{
    text-align: right;
    color: #979797;
    font-size: 80%;
}

.upTrigger{
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    left: 50%;
    color: #353535;
    transform: translateX(-50%);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.upTrigger:hover{
    top: 0.5rem;
}
.upTrigger span,
.downTrigger span{
    transform: rotateZ(270deg);
}

.downTrigger{
    width: 5rem;
    font-size: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #353535;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.downTrigger:hover{
    bottom: 0.5rem;
}

@media (min-width: 768px){
    .link{
        left: 1.875rem;
        bottom: 2.5rem;
    }

    .myName{
        right: 1.875rem;
    }
}
@media (min-width: 992px){
    .link{
        left: 2.5rem;
    }

    .myName{
        right: 2.5rem;
    }
}