.preloader .background{
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
}
.preloader .sign{
	justify-content: center;
	width: 100%;
	height: 13.5vh;
	-webkit-transition: 2s;
	z-index: 1002;
}
.preloader.close{
	opacity: 0;
}
.preloader{
	transition: 2s;
}
.preloader.close .sign{
	transform: translateY(-10%);
}
.preloader.close .wrapCenter{
	transform: translateY(-10%);
}
.preloader .wrapCenter{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1003;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transition: 1s;
}
.preloader .preloaderCenter{
	height: 40vh;
	width: 22%;
	background-color: #c6829b;
	-webkit-transition: 2s;
	opacity: 0.6;
}
.preloader .bottomSection{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 10vh;
	left: 0;
	width: 100%;
	z-index: 1001;
}

.preloader.close .bottomSection{
	transform: translateY(-10%);
}

.preloader .bottomSection h4{
	letter-spacing: 1px;
	font-size: 18pt;
	font-family: freight-medium, serif;
	font-weight: 600;
	opacity: 0.8;
	transition: .5s;
	color: #c6829b;
}