@font-face{
	font-family: proximaBold;
	src: url("../Fonts/proximaNova/ProximaNova-Bold.otf") format("opentype");
	font-weight: bold;
}

@font-face{
	font-family: freight-medium;
	src: url("../Fonts/freight/Freight_Disp_Light.otf") format("opentype");
}

.slick-slide{
	height: 118vh;
	position: relative;
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.slick-slide.slide1{
	width: 58vh;
}

.slick-slide.slide2{
	width: 92vh;
}

.slick-slide.slide3{
	width: 58vh;
}

.slick-slide.slide4{
	width: 80vh;
}

.slick-slide.slick-center{
	z-index: 9999;
}

.slick-slide.slick-center svg{
	transform: scale(115%);
	height: 24vh;
	opacity: 1;
}

.slick-slide svg{
	font-family: proximaBold;
	letter-spacing: 2px;
	height: 20vh;
	transform: scale(95%);
	width: 100%;
	-webkit-transition: all 1s ease-out, opacity .3s;
	opacity: 0.6;
	font-size: 35pt;
}

.slick-slide svg rect{
	fill: white;
}

.slick-slide .wrap{
	width: 90%;
	cursor: pointer;
}

.slick-slide h2{
	width: 100%;
	position: absolute;
	left: 50%;
	text-align: center;
	padding-top: 45px;
	transform: translateX(-50%);
	opacity: 0;
	transition: .5s cubic-bezier(0.32, 0, 0.67, 0);
	font-size: 30pt;
	font-family: freight-medium, serif;
	font-weight: 100;
	letter-spacing: 0.06em;
}

.slick-slide.slick-center h2{
	opacity: 1;
}

#curve1 path{
	-webkit-transition: 3s;
}

.slide1 h2{
	color: #c6829b;
}
.slide2 h2{
	color: #c38248;
}
.slide3 h2{
	color: #5b8e9d;
}
.slide4 h2{
	color: #69af89;
}
