header{
	background-image: url('../IMG/clay-banks-u27Rrbs9Dwc-unsplash.jpg');
	width: 100%;
	height: 80vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}
header > div{
	color: #ffffff;
	padding-top: 15vh;
	padding-right: 20vh;
}
header > div > h1{
	font-family: Roboto;
	letter-spacing: 0.01px;
	text-transform: uppercase;
	font-size: 3em;
}
header > div > h3{
	font-family: 'Indie Flower';
	font-size: 1.2em;
}