@font-face{
	font-family: freight-medium;
	src: url("../Fonts/freight/Freight-Display-Pro-Medium.otf") format("opentype");
}

.sign{
	position: absolute;
	left: 0;
	top: 0;
	width: 24.5%;
	height: 13.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sign h5{
	letter-spacing: 1px;
	font-size: 14pt;
	font-family: freight-medium, serif;
	font-weight: 100;
	opacity: 0.4;
	cursor: pointer;
	transition: .5s;
}
.sign h5:hover{
	opacity: 0.9;
}

.sign-right{
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	height: 13.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sign-right h5{
	letter-spacing: 1px;
	font-size: 14pt;
	font-weight: 100;
	font-family: freight-medium, serif;
	opacity: 0.4;
	cursor: pointer;
	transition: .5s;
}
.sign-right h5:hover{
	opacity: 0.9;
}