.sign{
	position: absolute;
	left: 0;
	top: 0;
	width: 22%;
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sign h5{
	font-family: 'Indie Flower', sans-serif;
	opacity: 0.6;
	cursor: pointer;
	transition: .5s;
}
.sign h5:hover{
	opacity: 1;
}